from aoc.util.get_input import get_input
import os


def main():
    path = "aoc/{{ year }}/{{ '%02d'|format(day) }}_{{ puzzle_name }}/input.txt"
    if os.path.exists(path):
        with open(path) as f:
            data = f.read()
    else:
        data = get_input({{ day }}, {{ year }})
        with open(path) as f:
            f.write(data)
    print(data)


if __name__ == "__main__":
    main()
